[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
tenacity = "*"
python-dotenv = "*"
tldextract = "*"
requests = "*"
elasticsearch = "*"  # optional
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"